fastapi
uvicorn
python-multipart
httpx
torch==2.5.1
edge-tts
gTTS
pydub
python-telegram-bot
soundfile
scipy
librosa
fairseq
libf0
pyworld
praat-parselmouth
torchcrepe
python-dotenv
av
SpeechRecognition
faiss-cpu
